<div class="list-group list__custom">
  <a href="" class="list-group-item list-group-item-action">Your to-do list</a>
  {{#each tasks}}
  <a href="" class="list-group-item list-group-item-action list-group-item-primary list__elements">
      {{task}}
      <div class="list__elements--actionslist">
        <span class="badge badge-primary badge-pill list__elements--action" >{{priority}}</span>
        {{#if finished}}
        <p>No actions available</p>
        {{else}}
        <button type="button" class="btn btn-success list__elements--action" onclick="window.location.href='/task/{{_id}}'">Finished</button>
        <button type="button" class="btn btn-danger  list__elements--action" onclick="window.location.href=''">Delete</button>
        {{/if}}
      </div>
  </a>
  {{/each}}
  <a class="btn btn-primary button-add-task" href="/task/add-task" role="button">Add Task</a>
</div>